*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(60deg,#FFFFFF,#a782d7);
}
img{
    width: 100%;
}
.banner{
    padding: 60px;
}
/* shared style */
.display-flex{
    display: flex;
}
.title{
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(244, 17, 207, 1);
  margin-bottom: 14px;
}
.sub-title{
    font-weight: 700;
    font-size: 2.75rem;
    color: black;
    margin-bottom: 50px;

}
.paragraph-description{
    color: rgba(168, 168, 168, 1);
    font-weight: 600;
    font-size: 1.12rem;
}

.btn-box{
 
}
.btn-primary{
    background-color: rgba(135, 43, 255, 1);
    border-radius: 30px;
    border: none;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}
/* banner style */
.banner-box{
    width: 87%;
    margin: 0 auto;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}
#title{
    color: rgba(244, 17, 207, 1);
}
.banner-title{
    color: black;
    font-weight: 800;
    font-size: 4.3rem;
}
#banner-description{  
    margin-bottom: 20px; 
}
#second-btn{
    background:rgba(255, 255, 255, 1);
    color: black;
    border: 5px solid rgba(72, 61, 87, 0.24);
}
/* servixe style */
.service{
    margin: 150px 0;
}
.service-box{
    width: 87%;
    margin: 0 auto;
}
.service-content{
    text-align: center;
}
.service-card{
    max-width: 250px;
    text-align: center;
   background: linear-gradient(180deg,rgba(195, 247, 254, 1),rgba(255, 255, 228, 1) );
   padding: 80px 50px;
   border-radius: 15px;
}
 .service-card-container{
    
    justify-content: space-between;
    /* align-items: center; */
    gap: 50px;
 }
 .service-icon{
    width: 100px;
    height: 150px;
    margin: 0 auto;
 }
